input{
    min-width: 25vw;
    max-width: 25vw;
    min-height: 1rem;
    padding: 10px;
    border-color: white;
    font-size: 1.25em;
    border-radius: 5px;
}
input:focus{
    border: 0px;
    outline:none;
    border-radius: 5px;
}
.center-it{
    max-width: 50vw; 
    margin: 0 auto;
}
