.explanation{
    margin: 0 auto;
    padding:15px 25px;
}
.explanation p{
    font-weight: bold;
    margin:0 auto;
    max-width:45ch;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    
}